@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  [data-slide-enter],
  .slide-enter,
  .slide-enter-container {
    --step: 0;
    --delay: 120ms;
    --start: 0ms;
  }

  [data-slide-enter],
  .slide-enter,
  .slide-enter-container > * {
    animation: slide-enter 1s both;
    animation-delay: calc(var(--step) * var(--delay) + var(--start));
  }

  .slide-enter-container {
    animation: none;
  }

  [data-slide-enter='1'],
  .slide-enter.step-1,
  .slide-enter-container > *:nth-child(1) {
    --step: 1;
  }

  [data-slide-enter='2'],
  .slide-enter.step-2,
  .slide-enter-container > *:nth-child(2) {
    --step: 2;
  }

  [data-slide-enter='3'],
  .slide-enter.step-3,
  .slide-enter-container > *:nth-child(3) {
    --step: 3;
  }

  [data-slide-enter='4'],
  .slide-enter.step-4,
  .slide-enter-container > *:nth-child(4) {
    --step: 4;
  }

  [data-slide-enter='5'],
  .slide-enter.step-5,
  .slide-enter-container > *:nth-child(5) {
    --step: 5;
  }

  [data-slide-enter='6'],
  .slide-enter.step-6,
  .slide-enter-container > *:nth-child(6) {
    --step: 6;
  }

  [data-slide-enter='7'],
  .slide-enter.step-7,
  .slide-enter-container > *:nth-child(7) {
    --step: 7;
  }

  [data-slide-enter='8'],
  .slide-enter.step-8,
  .slide-enter-container > *:nth-child(8) {
    --step: 8;
  }

  [data-slide-enter='9'],
  .slide-enter.step-9,
  .slide-enter-container > *:nth-child(9) {
    --step: 9;
  }

  [data-slide-enter='10'],
  .slide-enter.step-10,
  .slide-enter-container > *:nth-child(10) {
    --step: 10;
  }

  [data-slide-enter='11'],
  .slide-enter.step-11,
  .slide-enter-container > *:nth-child(11) {
    --step: 11;
  }

  [data-slide-enter='12'],
  .slide-enter.step-12,
  .slide-enter-container > *:nth-child(12) {
    --step: 12;
  }

  [data-slide-enter='13'],
  .slide-enter.step-13,
  .slide-enter-container > *:nth-child(13) {
    --step: 13;
  }

  [data-slide-enter='14'],
  .slide-enter.step-14,
  .slide-enter-container > *:nth-child(14) {
    --step: 14;
  }

  [data-slide-enter='15'],
  .slide-enter.step-15,
  .slide-enter-container > *:nth-child(15) {
    --step: 15;
  }

  [data-slide-enter='16'],
  .slide-enter.step-16,
  .slide-enter-container > *:nth-child(16) {
    --step: 16;
  }

  [data-slide-enter='17'],
  .slide-enter.step-17,
  .slide-enter-container > *:nth-child(17) {
    --step: 17;
  }

  [data-slide-enter='18'],
  .slide-enter.step-18,
  .slide-enter-container > *:nth-child(18) {
    --step: 18;
  }

  [data-slide-enter='19'],
  .slide-enter.step-19,
  .slide-enter-container > *:nth-child(19) {
    --step: 19;
  }

  [data-slide-enter='20'],
  .slide-enter.step-20,
  .slide-enter-container > *:nth-child(20) {
    --step: 20;
  }

  [data-slide-enter='21'],
  .slide-enter.step-21,
  .slide-enter-container > *:nth-child(21) {
    --step: 21;
  }

  [data-slide-enter='22'],
  .slide-enter.step-22,
  .slide-enter-container > *:nth-child(22) {
    --step: 22;
  }

  [data-slide-enter='23'],
  .slide-enter.step-23,
  .slide-enter-container > *:nth-child(23) {
    --step: 23;
  }

  [data-slide-enter='24'],
  .slide-enter.step-24,
  .slide-enter-container > *:nth-child(24) {
    --step: 24;
  }

  [data-slide-enter='25'],
  .slide-enter.step-25,
  .slide-enter-container > *:nth-child(25) {
    --step: 25;
  }

  [data-slide-enter='26'],
  .slide-enter.step-26,
  .slide-enter-container > *:nth-child(26) {
    --step: 26;
  }

  [data-slide-enter='27'],
  .slide-enter.step-27,
  .slide-enter-container > *:nth-child(27) {
    --step: 27;
  }

  [data-slide-enter='28'],
  .slide-enter.step-28,
  .slide-enter-container > *:nth-child(28) {
    --step: 28;
  }

  [data-slide-enter='29'],
  .slide-enter.step-29,
  .slide-enter-container > *:nth-child(29) {
    --step: 29;
  }

  [data-slide-enter='30'],
  .slide-enter.step-30,
  .slide-enter-container > *:nth-child(30) {
    --step: 30;
  }
}

[data-animation-controller='false'] [data-slide-enter] {
  animation: none;
}
