:root {
  font-size: 0.954rem;
  /* --bg-primary: #fff; */
  --un-scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --bg-primary: #000; */
    --un-scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  scrollbar-color: var(--un-scrollbar-color);
  scrollbar-width: thin;
}

::selection {
  background-color: #954;
  color: white;
}
