@import './slide-enter.css';

:where(:root) {
  font-size: calc(16px * 0.954);
}

* {
  box-sizing: border-box;
}

::selection {
  color: var(--selection-foreground-color, white);
  background-color: var(--selection-background-color, #954);
}

:where(body) {
  margin: 0;
}

:where(a) {
  -webkit-tap-highlight-color: transparent;
}

:where(button, input) {
  outline: none;
  border: none;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
}

:where(button, input:is([type='button' i], [type='reset' i], [type='submit' i])) {
  cursor: pointer;
  appearance: button;
  -webkit-appearance: button;
}

:where(dialog:not([open])) {
  display: none;
}
